<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="main.css" />
  </head>
  <body>
    <h1>outEmp</h1>

    <div class="container">
      <div class="topnav">
        <a href="/train">Train</a>
        <a href="/employee">Employee</a>
        <a href="/station">Station</a>
        <a href="/ticket">Ticket</a>
      </div>
      <p></p>
      <form action="/result">
        <input type="text" id="table" name="table" value="outEmp" readonly>

        <label for="emp_id">emp_id</label>
        <input type="text" id="iemp_idd" name="emp_id" placeholder="e.g. 20123" />

        <label for="train_id">trian_id</label>
        <input type="text" id="train_id" name="train_id" placeholder="e.g. 231" />

        <label for="job">job</label>
        <input type="text" id="job" name="job" placeholder="e.g. Advisor" />



        <div class="radio-toolbar"  id="query">
          <input type="radio" id="radioReq" name="req_type" value="query" />
          <label for="radioReq">Query</label>

        </div>
        <div class="radio-toolbar" id="post">


          <input type="radio" id="radioInsert" name="req_type" value="insert" checked />
          <label for="radioInsert">Insert</label>

          <input type="radio" id="radioDelete" name="req_type" value="Delete" />
          <label for="radioDelete">Delete</label>

          <input type="radio" id="radioModify" name="req_type" value="Modify" />
          <label for="radioModify">Modify</label>

</div>
        </div>
        <input type="submit" value="GO" />
      </form>
    </div>

    <p></p>
  
    <div class="bottom-nav">
      <a href="/Janitor">Janitor</a>
      <a href="/outEmp">outEmp</a>
      <a href="/phone">phone</a>
      <a href="/TicketMan">TicketMan</a>
      <a href="/stationEmp">stationEmp</a>
      <a href="/stopBy">stopBy</a>
    </div>
    
  </body>
</html>
