<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="main.css">
</head>
<body>

<h3>وزارة النقل و التضامن و محبين محمد الحاج</h3>

<div class="container">
  
  <div class="topnav">
    <a href="/train">Train</a>
    <a href="/employee">Employee</a>
    <a href="/station">Station</a>
    <a href="/ticket">Ticket</a>
  </div>



 <!-- ejs code to represent true or false -->




</body>
</html>
